<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSSystemExtensionUsageDescription</key>
  <string>Extends the networking capabilities of macOS to connect this Mac to your workspaces.</string>
  <key>CFBundleDisplayName</key>
	<string>Coder Desktop Network Extension</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEMachServiceName</key>
		<!-- We append the CFBundleVersion to the service name to ensure a new
		 service is used for each version. This works around the issue described
		 in https://github.com/coder/coder-desktop-macos/issues/121, presumably
		 caused by the XPC service cache not being invalidated on update.
		-->
		<string>$(TeamIdentifierPrefix)com.coder.Coder-Desktop.VPN.$(CURRENT_PROJECT_VERSION)</string>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.packet-tunnel</key>
			<string>$(PRODUCT_MODULE_NAME).PacketTunnelProvider</string>
		</dict>
	</dict>
</dict>
</plist>
