<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>1024Icon</string>
			<key>CFBundleURLName</key>
			<string>com.coder.Coder-Desktop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>coder</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!--
		Required to make HTTP (not HTTPS) requests to workspace agents
		(i.e. workspace.coder:4). These are already encrypted over wireguard.
		-->
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NetworkExtension</key>
	<dict>
		<key>NEMachServiceName</key>
		<string>$(TeamIdentifierPrefix)com.coder.Coder-Desktop.VPN</string>
	</dict>
	<key>SUPublicEDKey</key>
    <string>Ae2oQLTcx89/a73XrpOt+IVvqdo+fMTjo3UKEm77VdA=</string>
</dict>
</plist>
